/* ============== Contenedor principal ============== */
.main-container {
    margin-top: 1.5rem;
}

/* Grid de tarjetas */
.cards-container {
    background: var(--bg);
    padding: 2rem;
    border-radius: 1.5rem;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 18rem));
    gap: 1.5rem;
    box-shadow: var(--shadow-s);
}

/* ============== Cards individuales ============== */
.card {
    max-width: 14rem;
    background: var(--bg-light);
    padding: 1.5rem;
    border-radius: 1.25rem;
    text-align: left;
    box-shadow: var(--shadow-m);
    transition: var(--transition);
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-l);
}

/* Emojis */
.card-emoji {
    font-size: 5.5rem;        /* tamaño grande */
    display: block;           /* ahora es un bloque, elimina inline spacing */
    line-height: 1;           /* elimina espacio vertical extra */
    margin-bottom: 2rem;      /* espacio debajo del emoji */
}

/* Títulos y textos */
.card h2 {
    font: var(--h2);
    color: var(--text);
}

.card p {
    font: var(--p);
    color: var(--text-muted);
}
