<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS Sidebar -->
    <link rel="stylesheet" href="../styles/sidebar.css" />

    <!-- CSS Global-->
    <link rel="stylesheet" href="../styles/global.css" />

    <!-- JS Tema -->
    <script src="../scripts/theme-toggle.js" defer></script>

    <!-- SVG Favicon  -->
    <link rel="icon" type="image/svg+xml" href="/src/assets/svg/pregnant.svg">


</head>
<body>
    


    <aside class="sidebar collapsed" id="sidebar">
    <nav class="nav-container">
        <a href="#home" class="nav-link active">
        <img src="../assets/svg/inicio.svg" class="nav-svg" />
            <span class="nav-text">Inicio</span>
        </a>

        <a href="../Matrona/Pacientes/pacientes.html" class="nav-link">
            <img src="../assets/svg/paciente.svg" class="nav-svg" />
            <span class="nav-text">Pacientes</span>
        </a>

        <a href="../Matrona/Gestaciones/gestaciones.html" class="nav-link">
            <img src="../assets/svg/gestacion.svg" class="nav-svg" />
            <span class="nav-text">Gestaciones</span>
        </a>

        <a href="../Matrona/Partos/partos.html" class="nav-link">
            <img src="../assets/svg/parto.svg" class="nav-svg" />
            <span class="nav-text">Partos</span>
        </a>

        <a href="../Matrona/RecienNacido/recienNacido.html" class="nav-link">
            <img src="../assets/svg/reciennacido.svg" class="nav-svg" />
            <span class="nav-text">Recién Nacidos</span>
        </a>

        <a href="../Profesionales/profesionales.html" class="nav-link">
            <img src="../assets/svg/profesional.svg" class="nav-svg" />
            <span class="nav-text">Profesionales</span>
        </a>

        <a href="../Turnos/turnos.html" class="nav-link">
            <img src="../assets/svg/turnos.svg" class="nav-svg" />
            <span class="nav-text">Turnos</span>
        </a>

        <a href="../Supervisor/Auditoria/auditoria.html" class="nav-link">
            <img src="../assets/svg/auditoria.svg" class="nav-svg" />
            <span class="nav-text">Auditoría</span>
        </a>

        <a href="../Usuarios/usuarios.html" class="nav-link">
            <img src="../assets/svg/usuarios.svg" class="nav-svg" />
            <span class="nav-text">Usuarios</span>
        </a>
    </nav>
</aside>



</body>
</html>