<!-- sidebar.html -->
</li>


<!-- Pacientes -->
<li class="nav_item" data-tooltip="Pacientes">
    <a href="../Matrona/Pacientes/pacientes.html" class="nav_link">
        <img src="../../assets/icons/patient.svg" class="nav_icon" alt="Pacientes">
        <span class="nav_text">Pacientes</span>
    </a>
</li>


<!-- Gestaciones -->
<li class="nav_item" data-tooltip="Gestaciones">
    <a href="../Matrona/Gestaciones/gestaciones.html" class="nav_link">
        <img src="../../assets/icons/pregnant.svg" class="nav_icon" alt="Gestaciones">
        <span class="nav_text">Gestaciones</span>
    </a>
</li>


<!-- Partos (sección desplegable) -->
<li class="nav_item nav_dropdown" data-tooltip="Partos">
    <button class="dropdown_toggle">
        <img src="../../assets/icons/birth.svg" class="nav_icon" alt="Partos">
        <span class="nav_text">Partos</span>
        <img src="../../assets/icons/arrow.svg" class="dropdown_arrow" alt="Abrir">
    </button>
    <ul class="dropdown_menu">
        <li><a href="../Matrona/Partos/partos.html">Registro de Partos</a></li>
        <li><a href="../Matrona/Partos/stats.html">Estadísticas</a></li>
    </ul>
</li>


<!-- Recién Nacidos -->
<li class="nav_item" data-tooltip="Recién Nacidos">
    <a href="../Matrona/RecienNacido/recienNacido.html" class="nav_link">
        <img src="../../assets/icons/baby.svg" class="nav_icon" alt="Recién Nacidos">
        <span class="nav_text">Recién Nacidos</span>
    </a>
</li>


<!-- Profesionales -->
<li class="nav_item" data-tooltip="Profesionales">
    <a href="../Profesionales/profesionales.html" class="nav_link">
        <img src="../../assets/icons/staff.svg" class="nav_icon" alt="Profesionales">
        <span class="nav_text">Profesionales</span>
    </a>
</li>


<!-- Turnos -->
<li class="nav_item" data-tooltip="Turnos">
    <a href="../Turnos/turnos.html" class="nav_link">
        <img src="../../assets/icons/calendar.svg" class="nav_icon" alt="Turnos">
        <span class="nav_text">Turnos</span>
    </a>
</li>


<!-- Auditoría -->
<li class="nav_item" data-tooltip="Auditoría">
    <a href="../Supervisor/Auditoria/auditoria.html" class="nav_link">
        <img src="../../assets/icons/audit.svg" class="nav_icon" alt="Auditoría">
        <span class="nav_text">Auditoría</span>
    </a>
</li>


<!-- Usuarios -->
<li class="nav_item" data-tooltip="Usuarios">
    <a href="../Usuarios/usuarios.html" class="nav_link">
        <img src="../../assets/icons/users.svg" class="nav_icon" alt="Usuarios">
        <span class="nav_text">Usuarios</span>
    </a>
</li>
</ul>
</nav>
</aside>